@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Sometype+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Sometype Mono', monospace;
    scroll-behavior: smooth;
    background-color: black;
}

header{
    width: 100%;
    border-bottom: solid 2px white;
    position: fixed;
    backdrop-filter: blur(0.4rem);
}

.nav{
    position: fixed;
    width: 100%;
    height: 11.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    transition: all 0.5s ease;
    background-color: black;
    border-bottom: solid 2px #d487d4;
}

.menu{
    display: flex;
    gap: 25%;
    justify-content: center;
    align-items: center;
}

.menu li{
    list-style: none;
    margin: 1%;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.explorador{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30%;
    margin-right: 5%;
}

.menu li a:hover{
    color: white;
    background-color: transparent;
    text-shadow: 0 0 5px #d487d4,
    0 0 25px #d487d4,
    0 0 50px #a049b4,
    0 0 75px #a049b4;
    transition: all 0.5s ease;
}

.scroll{
    height: 100vh;
}

::-webkit-scrollbar{
    width: 3px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: white;
}

.logo{
    font-size: 175%;
    color: white;
}


.nosotros{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.div_nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 70%;
    height: auto;
    margin-top: 9%;
    color: white;
    text-align: left;

    border: solid 4px white;
    box-shadow: 0 0 5px #d487d4,
    0 0 25px #d487d4,
    0 0 50px #a049b4,
    0 0 75px #a049b4;
    transition: all 0.5s ease;
}

.div_nosotros p{
    margin: 15px;
    font-weight: 500;
}

.div_nosotros h3{
    font-size: 30px;
}


.redes{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    color: white;
}

.div_redes{
    width: 70%;
    height: auto;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 50px;
}

.redes h4{
    font-size: 30px;
    margin-bottom: 15vh;
}

.div_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    gap: 10%;
    width: 80%;
}

.div_cards a{
    text-decoration: none;
    color: white;
}

.div_card_individual:hover{
    width: 320px;
    border: solid 4px white;
    box-shadow: 0 0 5px #d487d4,
    0 0 25px #d487d4,
    0 0 50px #a049b4,
    0 0 75px #a049b4;
    transition: all 0.5s ease;
}

.div_card_individual{
    width: 310px;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    padding: 20px;
    gap: 50px;
    transition: all 0.5s ease;
}

.div_cards img{
    max-width: 80%;
}

.overlay {
    position: absolute;
    top: 11.5vh;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /*Para que quede por encima del resto de las cosas*/
  
    /*Efecto de Glassmorphismo*/
    background-color: rgba(22, 22, 22, 0.238);
    backdrop-filter: blur(5px);
    display: none;
}
  
  /*Toggle para el overlay (para que funcione unicamente cuando abrimos carrito o menu hamburguesa.
    Aclarar que funciona porque son elementos hermanos y overlay esta debajo de los dos inputs en el código.*/
  .show_overlay {
    display: block;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.bars{
    display: none;
}

@media screen and (max-width: 1150px){
    .div_nosotros{
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .div_cards{
        flex-direction: column;
        gap: 60px;
    }
}

@media screen and (max-width: 850px){
        .explorador{
            width: auto;
        }
        .nav2{
            justify-content: space-between;
        }
    
        .logo{
            display: block;
        }
    
        .bars{
            display: flex;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    
        .menu_label{
            display: block;
            background-color: transparent;
            border: none;
        }
    
        .menu{
        position: absolute;
        top: 11.5vh;
        padding: 50px 30px;
        right: 0px;
        background: rgba(0, 0, 0, 0.888);
        display: flex;
        flex-direction: column;
        height: 99vh;
        overflow-y: scroll;
        z-index: 2;
        min-width: 80%;
        transform: translate(200%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
        border: solid 1px #d487d4;
        gap: 20%;
        }
    
        .menu li a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            gap: 15px;
            transition: all 0.5s ease;
            padding: 18px 35px;
            border: solid 1px #d487d4;
        }
    
        .open_menu{
            transform: translate(-13%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
        }
    
        .cart{
            top: 8.8vh;
        }
        
        .overlay{
            top: 8.8vh;
        }
    
    }

    @media screen and (max-width: 450px){
        .div_nosotros h3{
            font-size: 25px;
        }
    }